[Unit]
Description=Full VPN access whitelist
After=ufw.service
Wants=ufw.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/full-vpn-whitelist.py --algo-path /path start
ExecStop=/usr/local/sbin/full-vpn-whitelist.py --algo-path /path stop

[Install]
WantedBy=multi-user.target
